
body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, select, button {
    margin-top: 10px;
}
